.event-details {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
}

.event-details img {
  height: 60px;
  margin: 10px;
}

.event-details h2 {
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.event-details p {
  font-size: 12px;
}