@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
@import "./modules/__variables.scss";
@import "./partials/event_details.scss";

.primary {
  color: #007a7c;
  font-weight: 800;
}

.lead {
  font-weight: 800px;
  color: $teal;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.row {
  justify-content: center;
}

.footer {
  background: $gray;
  padding: 50px;
}

.icon {
  margin: 5px;
  color: $black;
}

#event-detail {
  width: 250px;
}
